<h2>Shopping Cart</h2>
<hr>


<% @carted_products.each do |carted_product| %>
  <p>User Id: <%= carted_product["id"]  %></p>
  <p>Name: <%= carted_product["product"]["name"] %></p>
  <p>Price: <%= carted_product["product"]["price"] %></p>
  <p>Quantity: <%= carted_product["quantity"]%></p>
  
  <hr>
<% end %>